@font-face {
  font-family: "iconfont"; /* Project id 2768477 */
  src: url('iconfont.woff2?t=1630418112628') format('woff2'),
       url('iconfont.woff?t=1630418112628') format('woff'),
       url('iconfont.ttf?t=1630418112628') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e6ab";
}

.icon-bianji:before {
  content: "\e63b";
}

.icon-gerenzhongxin:before {
  content: "\e649";
}

.icon-tongxunlu:before {
  content: "\e660";
}

.icon-yonghuming:before {
  content: "\e657";
}

.icon-mima:before {
  content: "\e658";
}

